<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin_mathcal" version="1.0.0">
   <name>MathCal</name>
   <js-module name="MathCal" src="www/MathCal.js">
      <clobbers target="cordova.plugins.MathCal" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="MathCal">
            <param name="android-package" value="cordova.plugin.mathcal.MathCal" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/MathCal.java" target-dir="src/cordova/plugin/mathcal/MathCal" />
   </platform>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="MathCal">
            <param name="ios-package" value="MathCal" />
         </feature>
      </config-file>
      <source-file src="src/ios/MathCal.m" />
   </platform>
</plugin>